body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
   }
   header {
       height: 67px;
   }
   nav {
       height: 48px;
       display: flex;
       justify-content:right ;
       align-items: center;
       padding: 6px;
       font-size: 13px;
   }
   .container-image {
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 80px;
       padding-right: 4px;
     }
   .container-image img:hover{
       background-color: #f2f2f2;
     }
   .avatar {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   padding: 4px;
   }
   .menu {
   width: 24px;
   height: 24px;
   border-radius: 100%;
   padding: 8px;
   }
   .links {
       cursor: pointer;
       display: flex;
       margin-right: 15px;
   }
   .links a{
       text-decoration: solid;
       color: rgba(0,0,0,.87);
       margin-left: 15px;
   }
   .links a:hover{
       text-decoration: underline;
   }
   .logo{
       display: flex;
       flex-direction: column;
       align-items: center;
       height: calc(100% - 560px)
   }
   .logo img {
       height: 92px;
   }
   .searcher {
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 20px;
   }
   .box{
       display: flex;
       border-radius: 24px;
       border: solid #dfe1e5 1px;
       margin-top: 6px;
       box-shadow: none;
   } 
   .box2{
       display: flex;
       padding: 5px 8px 0 14px;
       width: 100%;
   }
   .box:hover{
       box-shadow: 0px 0px 3px 3px rgba(56, 60, 61, 0.1);
       border-radius: 24px;
   }
   .box2 :hover{
       box-shadow: none;
       border-radius: 0%;
   }
   .icons img{
       height: 20px;
       padding: 8px;
   }
   .icons{
       display:flex;
       margin-top: -5px;;
       align-items: center;
       flex-direction: row;
       height: 44px;
       cursor: pointer;
   }
   .lens {
       height: 46px;
       padding-right: 13px;
       display: flex;
       align-items: center;
       margin-top: -5px;
   } 
   .lens img{
       height: 14px;
   }
   textarea{
       resize: none;
       outline: none;
       border: none;
       display: flex;
       line-height: 22px; 
       margin-bottom: 8px;
       padding: 0;
       font-family: arial,sans-serif;
       font-size: 16px; 
   }
   .textodiv{
       display: flex;
       flex-wrap: wrap;
       margin-top: 6px;
   }
   .bottondiv{
       padding-top: 18px;
       height: 70px;
       display: block;
   }
   /*center{
       display: block;
       text-align: center;
   }*/
   input{
       background-color:#f8f9fa;
       border: solid#f8f9fa 1px;
       border-radius: 4px;
       font-family: arial,sans-serif;
       color: #3c4043;
       font-size: 14px;
       margin: 11px 4px;
       padding: 0 16px;
       height: 36px;
       min-width: 54px;
   
       text-align: center;
       cursor: pointer;
       user-select: none;
   }
   center :hover{
       box-shadow: 0px 0px 3px 3px rgba(56, 60, 61, 0.1);
   }
   footer{
       position: absolute;
       bottom: 0;
       background: #f2f2f2;
       width: 100%;
   }
   .mexico{
       padding: 15px 30px;
       border-bottom: 1px solid #dadce0;
       font-size: 15px;
       color: #70757a;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
     
   }
   .footer2 {
      display: flex;
       justify-content: space-between;
       padding: 0 20px;
       font-size: 14px;
   }
   .footer2 a{
      block-size:fit-content;
       padding: 15px;
       cursor:pointer;
       text-decoration: solid;
       color: #70757a;
       height: 17px;
   }
   .footer2 a:hover{
       text-decoration: underline;
   }
   .final1 {
       display:flex;
   }
   .final2 {
       display:flex;
   }